.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  left:1vw;
  top: 1vw;
  /* z-index:1; */
  padding: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  max-height: 45vh;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  /* z-index:1; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position:fixed;
  bottom:0;
  width:100%;
  max-height: 30px;
  min-height: 25px;
  align-content: center;
  background-color: rgb(8, 206, 163);;
  color: white;
  margin-top: auto;
}

.navBar {
  width: 100%;
  /* align-content: center; */
  /* vertical-align: middle; */
  background-color: rgb(8, 206, 163);
  min-height: 5vh;
  /* color: white; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* a.navBar {
  display: block;
  background-color: #dddddd;
} */

ul.courses-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 2%;
}

/* .navBar > a {
  margin: 20px;
  color: white;
  text-decoration: none;  
} */

/* .navBar > a:hover {
  cursor: pointer;
} */

.navbar-link {
  /* display: block; */
  /* background-color: #dddddd; */
  margin: 20px;
  color: white;
  text-decoration: none;  
}

.navbar-link:hover {
  cursor: pointer;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh 0vh 8vh 0vh;
}

.registration > * {
  margin-top: 2vh;
  /* color: #3fb9db; */
}

.registration > * > * {
  margin-left: 1vw;
}

input, select, option {
  border-radius: 20px;
  padding-left: .8vw;
  color: #282c34;
}

.checkbox-form > * {
  margin-left: 1vw;
}

.form-label {
  /* color: #3fb9db; */
}

.body-wrapper {
  min-height: 30%;
}

.mapSection {
  margin: 4vh 0vh 8vh 0vh;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.courses-dropdown {
  margin: 4vh 0vh 8vh 0vh;
}

.carousel-image-wrap{
  max-height: 40vh;
}

.carousel-image {
  /* max-height: 70vh; */
}